body {
    background: url("../images/page-bg.jpg") top left;
}

/* HEADER */

.header {
    padding: 30px 0 40px 0;
}

h1.logo {
    text-align: center;
    display: none;
}

.logo-container {
    /* TODO -- set background */
    background: url("../images/logo.png") center center;
    display: block;
    width: 244px;
    height: 105px;
    margin: 0 auto;
    background-size: contain;
}

@media (max-width: 1199px) {
    .ie7 .logo-container,
    .ie8 .logo-container {
        background: url("../images/logo-med-ie.png") center center;
    }

    .logo-container {
        width: 201px;
        height: 87px;
    }
}

@media (max-width: 991px) {
    .ie7 .logo-container,
    .ie8 .logo-container {
        background: url("../images/logo-sml-ie.png") center center;
    }

    .logo-container {
        width: 156px;
        height: 67px;
    }
}

.full-wrapper {
}

.container-box {
    min-width: 767px;

    /* Remove this background to hide the "box"" effect */
    background: url("../images/box-bg.png");

    /* TODO -- Remove this on mobile */
    margin-top: 100px;
}

.ie7 .container-box {
    min-width: 960px;
    max-width: 960px;
    position: relative;
    overflow: hidden;
}

.ie8 .container-box {
    min-width: 991px;
    max-width: 991px;
}

@media (max-width: 991px) {
    .container-box {
        margin-top: 0;
    }
}

.nopad {
    padding: 0;
}

.resume-splash {
    display: none;
    position: absolute;
    background-color: #000;
    padding-top: 20.5%;
    padding-left: 42.5%;
    opacity: 0.5;
    cursor: pointer;
    width: 100.1%;
    height: 100%;
}
.resume-splash img {
  width: auto;
  height: 50%;
  max-height: 142px;
}

.ie7 .resume-splash {
    width: 57.5%;
    height: 63%;
    filter: alpha(opacity=50);
}

.ie8 .resume-splash {
  top: 0;
  left: 0;
  width: 617px;
  height: 347px;
  filter: alpha(opacity=50);
  padding-top: 18%;
  padding-left: 42%;
}

.prepared-for-text {
    text-align: center;
}

/* FOOTER */

.footer {
    margin-top: 30px;
    font-size: 0.8em;
    min-width: 767px;
}

.ie7 .footer {
    margin: 30px auto;
    min-width: 960px;
    max-width: 960px;
}


.ie8 .footer {
    margin: 30px auto;
    max-width: 991px;
    min-width: 991px;
}